h1 {
    color:white;
    font-family: 'Vladimir Script';
    font-size: 2.1rem;
    
}
a{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
}