.top-bar-show-lg,
.top-bar-show-flex-lg {
  display: none !important;
}

.top-bar-hide-lg {
  display: block;
}

/* 1151px */
@media only screen and (min-width: 71.9375rem) {
  .top-bar-show-lg {
    display: block !important;
  }

  .top-bar-show-flex-lg {
    display: flex !important;
  }

  .top-bar-hide-lg {
    display: none;
  }
}
